/*document for register.html*/

* {margin:0; padding:0;}
body {background: #1E212A url("../../images/bg.jpg") no-repeat fixed top;}


form {box-sizing: border-box;background: #1E212A;font-family: "微软雅黑", "宋体"; font-size: 12px; color: #CDC7A8; width: 660px;margin:30px auto; padding: 40px 40px;}
    form a {text-decoration: none;color:#0e86ca;}
    form h1 {font-weight: normal;color: white; text-align: center;}
    form .btn {border:1px; width:578px;height: 40px; font-size:16px;font-family: "微软雅黑", "宋体"; color: #CDC7A8; display: block;margin:20px auto;}
        form .btn:hover{cursor: pointer;}
    form #net-easy-id {background:#d60000;color: white;margin: 20px auto;}
        form #net-easy-id:hover {background: #f70e0e;}
    form .split {margin:10px auto;}
        form span {display:inline-block; vertical-align: center; width: 262px; height: 0.5px; border-bottom: 1px #CDC7A8 solid;}
        form .split b {display: inline-block; font-weight: normal; padding: 0 20px;}
    form .input-text {box-sizing: border-box;height: 30px;width:578px;background: #101215; padding-left: 10px; font-family: "微软雅黑", "宋体"; font-size: 14px; color: white;margin: 10px auto;border:1px solid rgba(255,255,255,0.3);}
        form .input-text:hover{border-color:#878789;}
    form select {width:578px;background: #101215;font-family: "微软雅黑", "宋体"; font-size: 14px; color: white;margin: 10px auto;border:1px solid rgba(255,255,255,0.3);}
    form .agree {margin-right: 5px; margin-top: 3px;}
    form .submit-btn {background: #0e86ca;border:1px;}
        form .submit-btn:hover {background: #00aeff;}
    form .have-id {border:1px;background: #101215;border-color:#00aeff;color:#0e86ca;}
        form .have-id:hover {color: white;}
    form img {margin:0 2px;}